@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #111827;
  z-index: -1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.search-Input:focus {
  outline: none;
  border: none;
  color: white;
}

.clear-position::after {
  clear: both;
  content: "";
  position: static;
}

.card {
  height: 300px;
  width: 350px;
}

.close-icon {
  display: inline-block;
  position: absolute;
  left: 87vw;
  top: 6vh;
}

.close-icon:hover {
  cursor: pointer;
}

/* .scroll-hidden::-webkit-scrollbar {
  display: hidden !important;
} */

.scroll-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
